<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/bf4ce3da-7ad6-448c-87c9-93da8db009f4/resourceGroups/ExpanseTracker_group/providers/Microsoft.ApiManagement/service/ExpanseTrackerapi/apis/ExpanseTracker</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/bf4ce3da-7ad6-448c-87c9-93da8db009f4/resourceGroups/ExpanseTracker_group/providers/Microsoft.Web/sites/ExpanseTracker</ResourceId>
    <ResourceGroup>ExpanseTracker_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://expansetracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6c8df412-0060-404f-a702-abca81190af4</ProjectGuid>
    <PublishUrl>https://expansetracker.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ExpanseTracker</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>